<!--Created by Administrator on 2016/9/13.-->
<!DOCTYPE html>
<html>
<head>
   <title><%= title %></title>
   <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
   <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css'/>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <script src="/javascripts/jquery-3.1.0.js"></script>
   <script src="/javascripts/bootstrap.js"></script>
   <script src="/javascripts/highcharts.js"></script>
</head>